@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#how-furever-helps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#how-furever-helps h1{
    display: flex;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Poppins';
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100px;
    width: 600px;
}

.how-furever-helps-info p{
    font-family: 'DM Sans', 'Poppins';
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    width: 350px;
    height: 100px;
}

.furever-helps-card h3{
    font-family: 'DM Sans', 'Poppins';
    font-size: 26px;
    color: #324436;
}

#how-furever-helps-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}



.furever-helps-card {
    box-sizing: border-box;
    display: flex;
    width: 440px;
    height: 340px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F9F9F4;
    border-radius: 10px;
    padding: 30px;
}

#leaf, #handshake, #group{
    width: 80px;
    height: 60px;
}