.volunteerEmail{
  text-decoration: underline;
  color: black;
}
/*Role Buttons Section*/
.roles-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.roles-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: var(--font-size-heading-two);
    color: var(--color-heading-dark-green);
}

.roles-subtitle {
    font-family: 'Poppins', 'san-serif';
    font-weight: 300;
    font-size: 24px;
    opacity: 0.66;
}

.volunteerRoles {
    margin: 50px;
    display: flex;
    gap: 20px;
}

.volunteerRoles h3 {
    margin: 10px;
    padding: none;
}

.volunteerRole {
    cursor: pointer;
    position: relative;
    width: 430px;
    height: 327px;
    background: #F9F9F4;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.volunteerRole.active{
    border: 5px solid #4C5C41;
    background-color: #E2E6C6;
}

.volunteerRole-active-check {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.volunteerRole p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 20px;
  color: var(--color-body-dark-green);
  width: 75%;
  text-align: center;
  margin: 0;
}

.green-vector {
  position: absolute;
  z-index: -1;
  bottom: 0;
  background-color: var(--color-light-green);
  height: 200px;
  width: 100%;
}

@media (max-width: 576px) {
  .roles-title {
    width: 60%;
  }
  .roles {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .volunteerRoles{
    flex-direction: column;
    align-items: center;
  }
  .roles-title {
    width: 90%;
    text-align: center;
  }
}

/* Volunteer Requirements section */
.requirement-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.requirement-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size-heading-two);
  color: var(--color-heading-dark-green);
  text-align: center;
}

.requirements {
  margin-top: 20px;
}

.requirement-list {
  list-style: none;
  font-size: 30px;
}

.requirement-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
  line-height: 130%;
  max-width: 1200px;
  padding: 10px;
}

.requirement-note {
  font-style: italic;
}

.requirement-vector {
  z-index: -1;
  margin-top: 102px;
  background-color: var(--color-canvas);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.requirement-vector-text {
  font-family: 'Montserrat';
  color: var(--color-dark-green);
  font-style: 600;
  font-size: 30px;
  line-height: 130%;
  padding: 34px;
  text-align: center;
}