@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.page-title {
    text-align: center;
    color: #132F27;
    font-size: 90px;
    font-weight: 600;
}

.page-desc {
    text-align: center;
    color: #324436;
    font-size: 38px;
    font-weight: 500;
}

.help-tips {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9E9;
    padding: 75px 0;
}

.help-svgs {
    margin-top: 50px;
    display: flex;
    gap: 100px;
}

.found-animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
    text-align: center;
}

.found-animal p {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #324436;
    line-height: 50px;
}

.section-header {
    font-weight: 600;
    text-align: center;
    font-size: 64px;
    text-transform: capitalize;
    color: #132F27;
}

.select-animal {
    margin-top: 200px;
    display: grid;
    align-items: center;
}

.select-animal h1 {
    margin-bottom: 75px;
}

.cards {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 50px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.left > * {
    width: 854px;
    height: 350px;
}

.right > * {
    width: 880px;
    height: 630px;
}