.locations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin: 20px 20px 20px 20px;
  padding-top: 15px;
  background: linear-gradient(to bottom,
   #e5ead2 0%,
   #e5ead2 70%,
   rgba(119, 137, 50, 0.5) 70%,
   rgba(119, 137, 50, 0.5) 100%
  );
}

h1 {
    font-weight: 500;
    margin: 10px 0;
}
h4 {
    font-weight: 300;
}

#service-locations {
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 0;
    justify-content: center;
}

#service-locations a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

.map-container {
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 5px 10px;
    margin: 10px 20px -20px 20px;
}

.map-container img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #777932;
    box-shadow: 0 4px 8px rgba(119, 137, 50, 0.5);
    object-fit: cover;
    display: block;
}