@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

/* Text */
.titleText {
    margin-top: 20px; 
    font-size: 55px;
    font-weight: 600; 
}
.headingThree {
    font-family: "DM Sans", "Poppins";  
    margin-top: 0; 
    font-size: 24px;
    font-weight: light; 
}

/* Wildlife Rescue and Services */
.horizontalCentering { 
    background-color: #fbfcf5;
    width: 100%; 
    display: flex;
    justify-content: center; 
    margin-top: 30px;
}
#hero-component { 
    background-color: #fbfcf5; 
    width: 1279px;
    height: 730px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
#services {
    display: flex;
    flex-direction: column; 
    margin-right: 60px; 
    gap: 15px;
}
#services {
    font-family: "Montserrat", "Poppins"; 
}
#credentials {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}
#ctaButton {
    width: 600px; 
    height: 85px;
    border-radius: 35px;
    padding: 0; 
    background: none;
    border: none;
    border-radius: 15px;

    
}
#ctaButton img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

#ctaButton p{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}

/* Found Animal Notice Box */
#notice-box {
    font-family: "Poppins", Arial;  
    border-radius: 10px;
    margin-top: 20px;

}
#notice-box > div {
    margin-left: 30px;
    margin-right: 30px;
}
/* Sections of notice box */
#group-top {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
#container-btn {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}
#group-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    cursor: pointer; 
    width: 300px; 
    height: 65px;
    border-radius: 35px;
    padding: 0; 
    background: none;
    border: solid 2px #4C5C41;
    background-color: #f6f7ef;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

p {
    font-family: "Montserrat", "Poppins"; 
    font-size: 20px;

}
button img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
}
/* Text */
h2 {
    font-size: 48px;
    margin-top: 30px; 
    margin-bottom: 0; 
}
h3 {
    font-size: 20px; 
    margin-top: 15px; 
    font-family: "DM Sans", "Poppins";  
    font-weight: 500; 


}

/* locations */
.locations-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  padding-top: 15px;
  background: linear-gradient(to bottom,
   #e5ead2 0%,
   #e5ead2 70%,
   rgba(119, 137, 50, 0.5) 70%,
   rgba(119, 137, 50, 0.5) 100%
  );
}

h1 {
    font-weight: 500;
    margin: 10px 0;
}
h4 {
    font-weight: 300;
}

#service-locations {
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 0;
    justify-content: center;
}

#service-locations a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

.map-container {
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 5px 10px;
    margin: 10px 20px -20px 20px;
}

.map-container img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #777932;
    box-shadow: 0 4px 8px rgba(119, 137, 50, 0.5);
    object-fit: cover;
    display: block;
}