@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

.titleText {
    margin-top: 0; 
    font-size: 70px;
    font-weight: 600; 
}
.headingThree {
    font-family: "DM Sans", "Poppins";  
    margin-top: 0; 
    font-size: 24px;
    font-weight: normal; 
}


/* upper portion */
.horizontalCentering {
    width: 100%; 
    display: flex;
    justify-content: center; 
}
#hero-component {
    background-color: #e5ead2; 
    width: 1279px;
    height: 730px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}
#services {
    display: flex;
    flex-direction: column; 
    margin-right: 60px; /* */
    gap: 15px;
}
#services {
    font-family: "Montserrat", "Poppins"; 
}
#credentials {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}
#ctaButton {
    cursor: pointer; 
    width: 340px; 
    height: 85px;
    border-radius: 35px;
    padding: 0; 
    background: none;
    border: none;
}
#ctaButton img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
}

/* locations */
.locations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  margin: 20px 20px 20px 20px;
  padding-top: 15px;
  background: linear-gradient(to bottom,
   #e5ead2 0%,
   #e5ead2 70%,
   rgba(119, 137, 50, 0.5) 70%,
   rgba(119, 137, 50, 0.5) 100%
  );
}

h1 {
    font-weight: 500;
    margin: 10px 0;
}
h4 {
    font-weight: 300;
}

#service-locations {
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 0;
    justify-content: center;
}

#service-locations a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}

.map-container {
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px 5px 10px;
    margin: 10px 20px -20px 20px;
}

.map-container img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #777932;
    box-shadow: 0 4px 8px rgba(119, 137, 50, 0.5);
    object-fit: cover;
    display: block;
}