/* Nav Bar */
#navbar {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    background-color: #4C5C41; 
}
#furever-logo {
    padding-left: 80px;
}
#navbar a {
    color: white;
    font-family: "Poppins", Arial; 
    font-size: 20px;
    text-decoration: none;
}
#navbar a:hover {
    color: #449aff;
    font-weight: none;
}