.footer {
    background-color: #4b533a;
    color: #ffffff;
    font-family: "Montserrat", "Poppins", sans-serif;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    align-items: center;
    flex-shrink: 0;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 5rem 0 5rem;
    gap: 3rem;
    padding-bottom: 1rem;
    width: 100%;
}

.footer-column {
    max-width: 100%;
    width: max-content;
    flex-shrink: 0;
    max-height: fit-content;
    padding: 15px 15px 15px 15px;
}

.footer-header {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 51px;
    display: flex;
    align-items: center;
    margin: 100px 0 0 0;
}

.footer-subheader {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.footer-column p {
    margin: 0;
}

.col-header1 {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    display: flex;
    gap: 20px;
    font-weight: lighter;
}

.col-header2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.col-text {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 130%;
    display: flex;
    align-items: center;
}

.col-subtext {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    margin-left: 0.4em;
}

#facebook-column {
    font-size: 27px;
}

#facebook-column div:first-child a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; 
    text-decoration: none; 
    color: #ffffff;
    margin-bottom: 15px;
  }

@media (max-width: 576px) { 
    #footer #bigger-footer-text {
        width: 90%;
    }
    #small-footer {
        width: 80%;
    }
    #footer p {
        width: 95%;
    }
}

@media (max-width: 1570px){
    .footer-columns { 
        justify-content: flex-start;
        padding: 0 3rem 0 3rem;
        gap: 2rem;
    }
}

@media (max-width: 768px){
    .footer-heading { font-size: 1rem; }
    .footer-subheading { font-size: 0.5rem; }
}

@media (max-width: 480px){
    .footer-heading { font-size: 0.5rem; }
    .footer-subheading { font-size: 0.3rem; }
}