#footer {
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-color: var(--color-dark-green); 
    font-family: "Montserrat", "Poppins"; 
    padding: 50px 0px 50px 0px;
    gap: 10px;
}

#footer #bigger-footer-text {
    font-weight: 500;
    font-size: 30px;
}

#footer p {
    font-size: 24px;
    font-weight: lighter;
}


#small-footer {
    display: flex;
    gap: 20px;
    font-weight: lighter;
}