#how-you-can-help {
    margin-bottom: 90px;
    position: relative; 
    display: flex;
    gap: 30px;
    justify-content: center;
}


#images {
    display: flex;
    justify-content: center;

}

#images img {
    width: 400px;

}

#images button {
    width: 250px;
}


.text-on-image {
    display: flex;
    margin-top: 190px;
    justify-content: center;
    position: absolute; 
    color: rgb(0, 0, 0); 
    text-align: center;
    padding-top: 15px;
    font-family: "Montserrat", "Poppins"; 
    font-size: 18px;
}