.admin-logout-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    background-color: #BBC499;
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    cursor: pointer;
}

.admin-logout-btn:hover {
    background-color: #909773;
    border: 2px solid black;
}