.education-page {
  margin: 0;
  padding: 0;
}

.education-hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.education-hero-title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 90px;
    text-align: center;
    color: #132F27;
    margin: 146px 0 55px 0;
}

.education-hero-body {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    color: #324436;
    margin: 0 0 55px 0;
}