html, body {
  margin: 0;
  padding: 0;
}

/* Keep padding/width consistent */
.volunteer-page,
.volunteer-page * {
  box-sizing: border-box;
}

/* Page wrap */
.volunteer-page {
  width: 100%;
}

/* Hero spacing */
.volunteer-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #ffffff;
  
}

/* Left alignment */
.volunteer-hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 125px;
  padding-right: 125px;
}

/* Text box*/
.volunteer-hero-text {  
  max-width: 1149px;
}

/* Title */
.volunteer-hero-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 90px;
  line-height: 1.05;
  letter-spacing: 0;
  color: #132f27;
  max-width: 1149px;
  margin: 0 0 40px 0;
}

/* Body */
.volunteer-hero-body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.3;
  letter-spacing: 0;
  color: #000000;
  max-width: 872px;
  margin: 0 0 32px 0;
}

/* Body - bold */
.volunteer-hero-body-bold {
  font-weight: 500;
  margin: 0;
}

/* Volunteer Roles & Opportunities section */ 
.volunteer-roles-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.volunteer-roles-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  color: #132F27;
}

.volunteer-roles {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.volunteer-role {
  width: 568px;
  height: 427px;
  background: #F9F9F4;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volunteer-role h1 {
  font-family: 'DM Sans';
  font-weight: 600;
  font-size: 32px;
  color: #324436;
}

.volunteer-role p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 30px;
  color: #324436;
  width: 75%;
  text-align: center;
  margin: 0;
}

.green-vector {
  position: absolute;
  z-index: -1;
  bottom: 0;
  background-color: #AEBA82;
  height: 200px;
  width: 100%;
}